html {
	height:100%;
}

body {
	font: 1em/1.25em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	background: url('images/crisp_paper_ruffles.png') repeat #d2d7dd;
	color: #777;
	min-height: calc(100% - 18.5em);
	padding-bottom: 10em;
	position: relative;
}

p {
	margin-bottom: 1em;
	line-height: 2em;
}

h1, h2 {
	font: bold 175%/225% 'Georgia', Times, Times New Roman, serif;
	margin: 0.75em 0 1em 0;
	border-bottom: 2px solid #ccc;
	color: #4aaaa5;
	padding-bottom: 0.4em
}

p.title {
	font: bold 175%/225% 'Georgia', Times, Times New Roman, serif;
	display: block;
	float:left;
	background-color: #4aaaa5;
	padding:0.5em 1.25em;
	margin-bottom:0;
	margin-left:-1.25em;
	color:#fff;

}

header {
	border-bottom: 1px solid #ccc;
	position:fixed;
	top:0;
	background: #fff;
	width:  100%;
	z-index:10;
	-webkit-box-shadow: 0 3px 5px #babfc6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0 3px 5px #babfc6;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         0 3px 5px #babfc6;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
nav {
	float:right;
}

nav ul {
	margin: 2.5em -2.5em 0 0;
}

nav ul li {
	display: inline-block;
	border-right: 1px solid #777;
	padding: 0 0.25em;
	line-height: 75%;
}

nav ul li:last-child{
	border-right: none;
}

nav ul li a {
	color: #777;
	margin: 0 0.5em;
	text-decoration: none;
	font-size: 110%;
}

nav ul li  a:hover {
	background-color: #ddd;
	color: #000;
}

main {
	margin-top: 8.5em;
	min-height: 100%;

}

footer {
	border-top: 5px solid #4aaaa5;
	background-color: #666;
	width:100%;
	height:4em;
	color: #999;
	text-align: center;
	padding-top: 1.25em;
	position: absolute;
	bottom:0;
}

section {
	width: 100%;
	padding: 0 2em;
	max-width: 896px;
	margin:0 auto;
}

main section {
	background-color: #fff;
	padding-bottom: 2em;
	border:1px solid #ddd;
}

.profile-photo {
	float:left;
	margin: 0.5em 1em 0 0;
}

.img-link {
	float:left;
	position: relative;
	margin: 1.6em 2.5em 1.6em 0;
}

.img-link a {
	position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 1.25em;
    font: 125%/200% 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	color: #fff;
	text-decoration: none;
}

textarea, input {
	display:block;
	width:98%;
	padding: .5em 1%;
	font-size: .825em;
	border:1px solid #ddd;
	margin-bottom: 1.5em;
}

label {
	font-size: 110%;
	margin-bottom: 0.5em;
	display:block;
	width:100%;
}

button {
	font-size: 1.25em;
	color:#fff;
	background-color: #4aaaa5;
	padding:0.5em 2em;
	border:none;
	cursor: pointer;
}

input::placeholder {
	color: #999;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

.clearfix::after {
    content: "";
    display:block;
    clear:both;
}